* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {

    max-width: 1200px;
    margin: 0 auto;
}

body {

    background-color: #d9d8d8;
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #303030;

}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

.header {


    padding: 60px;

}

.header-left {

    float: left;

}

.header-right {

    float: right;

}

.header-logo {

    font-weight: 900;
    font-size: 48px;
    line-height: 1px;

}

.ul-menu li {

    display: inline-block;
    padding-right: 25px;
    list-style-type: none;
    font-size: 18px;

}

.ul-menu li:hover {

    text-decoration: underline;
}

.menu {

    vertical-align: middle;
}

.clear {

    clear: both;
}

/* End Header */


/* Aside */

.scrollbar {

    font-size: 0;
    margin: 40px 0 100px;

}

.aside-text {

    vertical-align: top;
    display: inline-block;
    width: 51%;
    text-align: right;

}

.aside-text h2 {

    font-family: 'Releway', 'Arial', suns-serif;
    font-size: 130px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 130px;
 
}

.aside-text p {

    padding: 30px 0 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;

}

.aside-img {

    padding-left: 105px;
    vertical-align: top;
    display: inline-block;
    max-width: 100%;

}

.aside-more {

    font-size: 24px;
    color: #e10011;
    font-weight: 900;
}

.aside-more:hover {

    color: #b6b2b2;
}

.skroll {

    padding-top: 70px;
    text-align: center;
}

.skroll a {

    display: inline-block;
    padding: 6px;
    margin-right: 5px; 
    border-radius: 50%;
    background-color: #303030;


}

.skroll a:first-child {

    background-color: #e70000;
}

/* End Aside */

/* Products */

.main {

    font-family: 'Releway', 'Arial', suns-serif;
    border-radius: 5px;
}

.products {

    background-color: #fff;
}

.product-title,
.subscribe-title 
{

    margin: auto;
    text-align: center;
    width: 550px;
    padding-top: 60px;

}

.product-title h1 {

    font-weight: 900;
    font-size: 48px;
    line-height: 1px;
}


.product-title p {

    margin-top: 5px;
    font-weight: 400;

}

.product-img {

    padding: 72px;
    font-size: 0;

}

.product-item {

    position: relative;
    display: inline-block;
    padding: 7px;
    width: 33.33%;
    vertical-align: top;
    cursor: pointer;
    
}

.product-item:first-child {

    width: 66.66%;

}

.product-item img {

    max-width: 100%;

}

.product-text {

    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Roboto', serif;
    background-color: rgba(255,0,17,1);
    color: #fff;
    border-radius: 10px;
    font-weight: 900;
}

.product-item:hover
.product-text{

    display: block;
    font-size: 30px;
    line-height: 40px;
}

.product-text-block{

    position: absolute;
    top: 265px;
    left: 35px;
    margin-top: -26px;
}

.product-text-underscore{
    display: block;
    padding-bottom: 5px;
    border-bottom: 5px solid;

}

/* End Products */

/* Subscribe */

.subscribe-title h2 {

    font-size: 45px;
    font-weight: 900;
    text-transform: uppercase;
    
}

.subscribe-title p {

    padding: 20px 0 42px;
}

.subscribe-form {
    
    width: 700px;
    margin: auto;
    margin-bottom: 115px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50px;

}

.fa-envelope {
    float: left;
    position: relative;
    top: 27px;
    left: 30px;
    width: 40px;
    height: 30px;
   opacity: 0.7;

}


.subscribe-form .input-field{

    float: left;
    margin: 0;
    padding: 3px 20px 0px 30px;
    height: 65px;
    width: calc(64% - 40px);
    border: none;
    -webkit-appearance: none;
    outline: none;
    font-size: 25px;
    color: #303030;

}

.input-field::-webkit-input-placeholder {
    
    font-size: 18px;
    font-style: italic;
}

:focus::-webkit-input-placeholder {
    color: transparent
  }

.subscribe-form button {


    float: left;
    border: none;
    position: relative;
    cursor: pointer;
    width: 36%;
    height: 65px;
    background-color: #e10011;
    color: #fff;
    font-weight: 700;
    border-radius: 5px 50px 50px 5px;
    text-transform: uppercase;
    font-size: 18px;
}

.subscribe-form button:hover {

    color: #e10011;
    background-color: #a19d9d;
}


/* End Subscribe */

/* Social */

.social {

    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.social a {

    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 20px;
    margin-right: 10px;
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 50%;
}


.social a:hover {

    opacity: 0.7;
}

.social img {

    position: absolute;
    left: 21px;
}

img[alt="facebook"] {

    left: 25px;

}

img[alt="bird"] {

    top: 24px;

}

img[alt="you-tube"] {

    bottom: 18px;
}

img[alt="message"] {

    right: 30px;
}


/* End Social */

/* Footer */

.footer {

    margin: 60px 0 30px;
}

.footer .copyright {

    text-align: center;
    font-size: 18px;
    color: #979797;
}

.copyright span {

    color: #000;
}

/* End Footer */